:root {
    --themePrimary: #040404;
    --themeSecondary: #FFFCFF;
    --primary: #5F4BB6;
    --secondary: #00CECB;
    --red: #F8333C;
    --green: #00A550;
    --black: #040404;
    --white: #FFFCFF;
    --primaryShade: #4A3A8E;
    --secondaryShade: #00A09E;
    --redShade: #E40813;
    --greenShade: #00803E;

}

.textThemePrimary {
    color: var(--themePrimary);
}

.textThemeSecondary {
    color: var(--themeSecondary);
}

.textPrimary {
    color: var(--primary);
}

.textScondary {
    color: var(--secondary);
}

.textRed {
    color: var(--red);
}

.textGreen {
    color: var(--green);
}

.textPrimary:hover {
    color: var(--primaryShade);
}

.textScondary:hover {
    color: var(--secondaryShade);
}

.textRed:hover {
    color: var(--redShade);
}

.textGreen:hover {
    color: var(--greenShade);
}

.bgThemePrimary {
    background-color: var(--themePrimary);
}

.bgThemeSecondary {
    background-color: var(--themeSecondary);
}

.bgPrimary {
    background-color: var(--primary);
}

.bgScondary {
    background-color: var(--secondary);
}

.bgRed {
    background-color: var(--red);
}

.bgGreen {
    background-color: var(--green);
}