.container {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

/* btns default */
.btn {
    padding: 0.5rem;
    display: inline-block;
    border: none;
    border-radius: 0.5rem;
    background-color: transparent;
    cursor: pointer;
    transition: 0.25s;
    user-select: none;
    font-size: 1rem;
    height: fit-content;
    text-decoration: none;
}

.btnOutline {
    border: 1px solid;
}

.btnOutline:hover {
    color: var(--white);
}

/* btns */
.btnTheme {
    color: var(--themeSecondary);
    background-color: var(--themePrimary);
}

.btnPrimary {
    color: var(--themeSecondary);
    background-color: var(--primary);
}

.btnSecondary {
    color: var(--themeSecondary);
    background-color: var(--secondary);
}

.btnRed {
    color: var(--themeSecondary);
    background-color: var(--red);
}

.btnGreen {
    color: var(--themeSecondary);
    background-color: var(--green);
}

/* btns hover */
.btnTheme:hover {
    color: var(--themePrimary);
    background-color: var(--themeSecondary);
}

.btnPrimary:hover {
    background-color: var(--primaryShade);
}

.btnSecondary:hover {
    background-color: var(--secondaryShade);
}

.btnRed:hover {
    background-color: var(--redShade);
}

.btnGreen:hover {
    background-color: var(--greenShade);
}

/* btns outlines*/
.btnOutlineTheme {
    color: var(--themePrimary);
    border-color: var(--themePrimary);
}

.btnOutlinePrimary {
    color: var(--themePrimary);
    border-color: var(--primary);
}

.btnOutlineSecondary {
    color: var(--themePrimary);
    border-color: var(--secondary);
}

.btnOutlineRed {
    color: var(--themePrimary);
    border-color: var(--red);
}

.btnOutlineGreen {
    color: var(--themePrimary);
    border-color: var(--green);
}

/* btns outlines hover */
.btnOutlineTheme:hover {
    color: var(--themeSecondary);
    background-color: var(--themePrimary);
}

.btnOutlinePrimary:hover {
    background-color: var(--primary);
}

.btnOutlineSecondary:hover {
    background-color: var(--secondary);
}

.btnOutlineRed:hover {
    background-color: var(--red);
}

.btnOutlineGreen:hover {
    background-color: var(--green);
}

/* alerts */

.alert {
    color: var(--white);
    border-radius: 0.3rem;
    padding: 1rem;
    user-select: none;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display: block;
    font-family: textMedium;
}

.alertDanger {
    background-color: var(--red);
}

.alertSuccess {
    background-color: var(--green);
}

/* badges */
.badge {
    padding: 0.25rem;
    color: var(--white);
    border-radius: 0.25rem;
    display: inline-block;
    font-family: textMedium;
    width: fit-content;
    user-select: none;
}

/* links */
.link {
    user-select: none;
    font-family: textMedium;
    text-decoration-thickness: 2px;
}

/* inputs */
.input {
    height: 1.5rem;
    font-size: 1rem;
    border: 1px solid var(--themePrimary);
    border-radius: 0.3rem;
    transition: 0s;
}

.input:focus {
    outline: none;
    border: 2px solid var(--primary);
}