@font-face {
    font-family: textThin;
    src: url(/static/fonts/Inter-Thin.ttf);
}

@font-face {
    font-family: textExtraLight;
    src: url(/static/fonts/Inter-ExtraLight.ttf);
}

@font-face {
    font-family: textLight;
    src: url(/static/fonts/Inter-Light.ttf);
}

@font-face {
    font-family: textRegular;
    src: url(/static/fonts/Inter-Regular.ttf);
}



@font-face {
    font-family: textMedium;
    src: url(/static/fonts/Inter-Medium.ttf);
}

@font-face {
    font-family: textSemiBold;
    src: url(/static/fonts/Inter-SemiBold.ttf);
}

@font-face {
    font-family: textBold;
    src: url(/static/fonts/Inter-Bold.ttf);
}

@font-face {
    font-family: textExtraBold;
    src: url(/static/fonts/Inter-ExtraBold.ttf);
}

@font-face {
    font-family: textBlack;
    src: url(/static/fonts/Inter-Black.ttf);
}


.textThin {
    font-family: textThin;
}

.textExtraLight {
    font-family: textExtraLight;
}

.textLight {
    font-family: textLight;
}

.textRegular {
    font-family: textRegular;
}

.textMedium {
    font-family: textMedium;
}

.textSemiBold {
    font-family: textSemiBold;
}

.textBold {
    font-family: textBold;
}

.textExtraBold {
    font-family: textExtraBold;
}

.textBlack {
    font-family: textBlack;
}