{% extends 'layout.html' %} {% block head %} {% endblock %} {% block body %}
<p class="textThin">
  textThin: Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet,
  accusamus.
</p>
<p class="textExtraLight">
  textExtraLight: Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Eveniet, accusamus.
</p>
<p class="textLight">
  textLight: Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet,
  accusamus.
</p>
<p class="textRegular">
  textRegular: Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet,
  accusamus.
</p>

<p class="textMedium">
  textMedium: Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet,
  accusamus.
</p>
<p class="textSemiBold">
  textSemiBold: Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Eveniet, accusamus.
</p>
<p class="textBold">
  textBold: Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet,
  accusamus.
</p>
<p class="textExtraBold">
  textExtraBold: Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Eveniet, accusamus.
</p>

<p class="textBlack">
  textBlack: Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet,
  accusamus.
</p>
<br />
<br />
<div class="container">
  <button class="btn btnOutline btnOutlinePrimary">Test Button</button>
  <button class="btn btnOutline btnOutlineSecondary">Test Button</button>
  <button class="btn btnOutline btnOutlineTheme">Test Button</button>
  <button class="btn btnOutline btnOutlineRed">Test Button</button>
  <button class="btn btnOutline btnOutlineGreen">Test Button</button>
</div>
<br />
<div class="container">
  <button class="btn btnPrimary">Test Button</button>
  <button class="btn btnSecondary">Test Button</button>
  <button class="btn btnTheme">Test Button</button>
  <button class="btn btnRed">Test Button</button>
  <button class="btn btnGreen">Test Button</button>
</div>
<br />
<div class="container">
  <div class="alert alertDanger">Lorem, ipsum.</div>
  <br />
  <div class="alert alertSuccess">Lorem, ipsum.</div>
</div>
<div class="badge bgGreen">badge</div>
<a href="/" class="link textRed">mainpage</a>
{% endblock %}
